/*ids*/

#titulo{
    text-align: center;
}
#sobrenome{
    margin-top: 5px;
}
#email{
    margin-top: 5px;
}
#number{
    margin-top: 5px;
}
#msg{
    margin-top: 5px;
}
#nome{
    margin-top: 5px;
}
#submit{
    border-radius: 2px;
    float: left;
}
#reset{
    border-radius: 1px;
    float:right;
   
}
#h1{
    margin-bottom: 40px;
;
}
#l1{
    margin: 40px;
   
    height: 30px; 
}
#l1 a{
 
}
#l2{
    margin-top: 40px;
}
#l3{
    margin-top: 40px;
}

/*-----------------------------------------classes---------------------------------------*/

.formulario{
    margin-top: 10px;
    margin-left: 10px;
    background-size: 100%;
    min-height: 400px;
    padding: 30px;
    display: inline-block;
    width: 90px;
}
.img{
    margin-left: 20px;
}
.list{
  
    float: right;
    margin-right: 10px;
    background-size: 100%;
    min-height: 400px;
    margin-right: 50px;
    margin-top: 50px;
    padding: 100px;
    display: inline-block;

    
}
.botao{
    margin-top: 10px;
}
.container{
    background-color: darkgrey;
    height: 100%;
    background-size: 100%;
}


/*-------------------------------------seletores--------------------------------------*/
body{
  
    height: 100%;
    width: 100%;
}
*{
    color: black;
    margin: 0px;
    padding: 0px;

}

footer{
    clear: both;
    background-color: darkcyan;
    text-align: center;
    height: 30px;
 
    color: black;
    font-family: monospace;
    padding: 18px;
    margin: 0px;

}
header{
    height: 85px;
    background-color: #008b8b;
    clear: both;
 
}
